doctype html
html(lang="ru-RU")
    head
        title Example 01.01 - Basic skeleton on Gulp
        link(href='static/css/main.css', rel='stylesheet')
        script(src="static/js/libs.min.js")
        script(src="static/js/main.min.js")
    body
        div#header
            button#addsection Add
        div#WebGL-output
