doctype html
html(lang="ru-RU")
    head
        title Example 01.01 - Basic skeleton on Gulp
        script(src="static/js/libs.min.js")
        script(src="static/js/main.js")
    body
        div#WebGL-output